<a href="https://colab.research.google.com/github/Renny2277/code-repo/blob/main/experiment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##EXPERIMENT1
INTRODUCING PYTHON AS A TOOL FOR COMPUTATION MATHEMETICS

1.**HELLO WORLD**

The classic first program for any language

In [ ]:
print("HELLO,WORLD")

HELLO,WORLD

2.** BASIC ARITHEMETIC OPERATION**

simple operations like addition,substraction,division,multiplication

In [ ]:
# addition
a=5;b=2
print("addition:",a+b)
# substraction
print("substraction",a-b)
# multiplication
print("multiplication",a*b)
# division
print("division",a/b)

addition: 7
substraction 3
multiplication 10
division 2.5

3.**variables and data types**

introduction to different data types like integers,float, and strings.

In [ ]:
#integer
x=10
print("integer:",x)
# float
y=7.77
print("float:",y)
# string
z="python"
print("string:",z)
type(z)

integer: 10
float: 7.77
string: python

str

4.**list**

creating and manupulating lists

In [ ]:
# creating a list
fruits = ["apple","banana","cherry"]
print("list:",fruits)
# adding an element
fruits.append("orange")
print("updated list:",fruits)
# removing an element
fruits.remove("banana")
print("list after removal:",fruits)

list: ['apple', 'banana', 'cherry']
updated list: ['apple', 'banana', 'cherry', 'orange']
list after removal: ['apple', 'cherry', 'orange']

5.**loops**
using for and while loops.

In [ ]:
# for loop
for i in range(5):
   print("for loop iteration:", i)
# while loop
count = 0
while count < 5:
  print("while loop iteration:", count)
  count+= 1

for loop iteration: 0
for loop iteration: 1
for loop iteration: 2
for loop iteration: 3
for loop iteration: 4
while loop iteration: 0
while loop iteration: 1
while loop iteration: 2
while loop iteration: 3
while loop iteration: 4

6. **conditional statements**
using if,elif,and else statements

In [ ]:
number = 7
if number > 0:
    print("positive number")
elif number == 0:
     print("zero")
else:
     print("negative number")

positive number

7.**fumnction**
defining and  calling function

In [ ]:
# defining and calling function
def greet(name):
  return "hello,"+ name
#calling a function
print(greet("alice"))
print(greet("bob"))

hello,alice
hello,bob

8. **simple user input**
getting input from user

In [ ]:
# getting input from the user
name = input("enter your name:")
print("hello," + name + "!")
#print("hello", name)

enter your name:zeus
hello,zeus!

9. **reading and writing files**
basic operation

In [ ]:
# writing to a file
with open("example.txt","w") as file:
  file.write("hello, world!\n")
  file.write("this is a simple file.")
# reading from the file
with open("example.txt", "r") as file:
  content = file.read()
  print("file content:\n", content)

file content:
 hello, world!
this is a simple file.

10.**basic exception handling** handling errors using try and except.

In [ ]:
try:
    # trying to dividible by zer
    result = 10 / 0
except ZeroDivisionError:
  print("error: division by zero is not allowed.")
finally:
  print("yhis will alwayse execute")

error: division by zero is not allowed.
yhis will alwayse execute